#buttons {
    text-align:center;

}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}


.btn-red {
  background: #E53030;
  border: 3px solid #OOO;
  border-radius: 100%;
    box-shadow: 0 -2px 0 3px #ce3c3c inset, 0 5px 5px rgba(0, 0, 0, 0.17), 0 15px rgba(255, 255, 255, 0.32) inset;
  cursor: pointer;
  display: inline-block;
  height: 5vw;
  width: 5vw;
}
.btn-red:hover {
  background: #E53030;
  box-shadow: 0 -2px 0 3px #c91919 inset, 0 5px 5px rgba(65, 8, 8, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 13px 13px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
#mainB {
    perspective: 1000px;
    transform-style: preserve-3d;
    width:90%;
    height: 90%;
    position: absolute;
    top: 20px;
    left: 20px;
    background: url("http://bgfons.com/uploads/wood/wood%20_texture3177.jpg") 0 0;
    z-index: -9000;
    border-radius: 20px;
    box-shadow:
    inset 5px 5px 5px rgba(0, 0, 0, .5),
    5px 5px 5px rgba(0, 0, 0, .5);
    
}

.over {
  background: url("../static/top.png") bottom center no-repeat;
  position: absolute;
  width: 530px;
  top: 20%;
  bottom: 90%;
  z-index: 300;
  height: 543px;
  left: 51%;
  border-radius: 50%;
  box-shadow: 2px 15px 15px 7px rgba(0, 0, 0, 0.3), -15px 2px 5px rgba(0, 0, 0, 0.2), 1px 10px 15px rgba(0, 0, 0, 0.5), 0px 10px 5px rgba(0, 0, 0, 0.7);

}

.dial {
    
  width: 165px;
  height: 165px;
  border-radius: 50%;
  position: relative;
  display: block;
  margin: auto auto;
  top: 200px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFC9CFD7', endColorstr='#FFB0B7C1');
  background-image: url('http://radiooooo.com/assets/background/BOIS256.jpg');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c9cfd7), color-stop(46%, rgba(43, 47, 62, 0.97)), color-stop(48%, rgba(43, 47, 62, 0.97)), color-stop(52%, #2b2f3e), color-stop(55%, #2b2f3e), color-stop(100%, #b0b7c1));
  background-image: -moz-linear-gradient(top, #c9cfd7 0%, rgba(43, 47, 62, 0.97) 46%, rgba(43, 47, 62, 0.97) 48%, #2b2f3e 52%, #2b2f3e 55%, #b0b7c1 100%);
  background-image: -webkit-linear-gradient(top, #c9cfd7 0%, rgba(43, 47, 62, 0.97) 46%, rgba(43, 47, 62, 0.97) 48%, #2b2f3e 52%, #2b2f3e 55%, #b0b7c1 100%);
  background-image: linear-gradient(to bottom, #c9cfd7 0%, rgba(43, 47, 62, 0.97) 46%, rgba(43, 47, 62, 0.97) 48%, #2b2f3e 52%, #2b2f3e 55%, #b0b7c1 100%);
  z-index: 99999;
  box-shadow: 2px 15px 15px 7px rgba(0, 0, 0, 0.3), -15px 2px 5px rgba(0, 0, 0, 0.2), 1px 10px 15px rgba(0, 0, 0, 0.5), 0px 10px 5px rgba(0, 0, 0, 0.7);
}
.dial .grad {
  background: url("http://grantcr.com/files/dail.png") 0 0 no-repeat;
  width: 165px;
  z-index: 999;
  height: 165px;
  position: absolute;
  top: 3px;
  border-radius: 50%;
  left: 3px;
  opacity: 1;
}

.container {
  width: 325px;
  position: relative;
  margin: 0 auto;
  height: 100%;
  top: -100px;
}

.nav {
  position: relative;
  width: 100%;
  top: 145px;
}

#image {
    position: absolute;
}
#image li {
  display: inline-block;
  list-style-type: none;
  float: left;
  margin-right: 43px;
  position: absolute;
  top:-90px;
  left:143px;
  height: 222px;
  text-align: center;
  background:url("http://grantcr.com/files/circle.png") center top no-repeat;
}

#image img{
    position: absolute;
    
}
#nav li {
  display: inline-block;
  list-style-type: none;
  float: left;
  margin-right: 43px;
  position: absolute;
  top:-110px;
  left:126px;
  height: 270px;
}
#nav li a {
  cursor: pointer;
}


#nav li input {
    display: none;
}

#nav li input + label {
  left: 50%;
  bottom: 100%;
  width: 0;
  height: 0;
  line-height: 1px;
  margin-left: 0;
  text-align: center;
  cursor: pointer;
  box-shadow: none;
  text-shadow:1px 1px white;
}

#tuning {
    background : black;
    width: 990px;
    color: #62fff2;
    height: 200px;
}


#test {
    background-image: 
radial-gradient(circle at 100% 150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
radial-gradient(circle at 0    150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
radial-gradient(circle at 50%  100%, white 10%, silver 11%, silver 23%, white 24%, white 30%, silver 31%, silver 43%, white 44%, white 50%, silver 51%, silver 63%, white 64%, white 71%, transparent 71%, transparent),
radial-gradient(circle at 100% 50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent),
radial-gradient(circle at 0    50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent);
    background-size:100px 50px;
}
.water {
    fill: #00248F;
      stroke: white;
      stroke-width:4px;
  cursor: move;
}

.land {
  fill: #fafaf0;
  stroke: black;
  stroke-width: 0.7px;
  cursor: move;
}

.availlable {
    fill: #fdfcc4;
    stroke: black;
    stroke-width: 0.7px;
    cursor: move;
}

.availlable:hover {
  fill:#f7c0c2;
  stroke-width: 1px;
}

.focused {
  fill: #f7c0c2;
}

select {
  position: absolute;
  top: 20px;
  left: 580px;
  border: solid #ccc 1px;
  padding: 3px;
  box-shadow: inset 1px 1px 2px #ddd8dc;
}

.countryTooltip {
  position: absolute;
  display: none;
  pointer-events: none;
  background: #fff;
  padding: 5px;
  text-align: left;
  border: solid #ccc 1px;
  color: #666;
  font-size: 14px;
  font-family: sans-serif;
}
select {
    display:none;
}


.switch {
    position: relative;
}

.switch label {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    background: #E53030;
    box-shadow: 0 -2px 0 3px #c91919 inset, 0 5px 5px rgba(65, 8, 8, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
}

/* .switch label:after { */
/*     content: ""; */
/*     position: absolute; */
/*     z-index: -1; */
/*     top: -8%;  */
/*     right: -8%;  */
/*     bottom: -8%;  */
/*     left: -8%; */
/*     border-radius: inherit; */
/*     background: #ddd; /\* Fallback *\/ */
/*     background: linear-gradient(#E53030, #ce3c3c); */
/*     box-shadow:  */
/*         inset 0 2px 1px rgba(0,0,0,0.15), */
/*         0 2px 5px rgba(200,200,200,0.1); */
/* } */

.switch label:before {
    content: "";
    position: absolute;
    width: 20%;
    height: 20%;
    left: 40%;
    top: 40%;
    border-radius: inherit;
    background: #969696; /* Fallback */
    background: radial-gradient(40% 35%, #E53030, #ce3c3c 60%);
    box-shadow:
        inset 0 2px 4px 1px rgba(0,0,0,0.3),
        0 1px 0 rgba(255,255,255,1),
        inset 0 1px 0 #E53030;
}

.switch label.active {
    box-shadow: 0 -2px 0 3px #ce3c3c inset, 0 5px 5px rgba(0, 0, 0, 0.17), 0 15px rgba(255, 255, 255, 0.32) inset;
}

.switch label.active:hover {
  box-shadow: 0 -2px 0 3px #c91919 inset, 0 5px 5px rgba(65, 8, 8, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
}

.switch label.active:before { /* LED */
    background: #E53030; /* Fallback */
    background: radial-gradient(40% 35%, #5aef5a, #25d025 60%);
    box-shadow:
        inset 0 3px 5px 1px rgba(0,0,0,0.1),
        0 1px 0 rgba(255,255,255,0.4),
        0 0 10px 2px rgba(0, 210, 0, 0.5);
}

svg {
    margin-top: 30px;

}
#fond-map-monde {
    height: 490px;
    margin-left: 142px;
    margin-top: 64px;
    width: 490px;
    background:white;
    border-radius:50%;
}

#reflect {
    height: 100px;
    margin-left: 141px;
    margin-top: 400px;
    width: 490px;
    border-radius:50%;
    transform: scaleY(-1);
}

.under {
    position: absolute;
  width: 550px;
  top: 80%;
  z-index: 300;
  height: 100px;
  left: 25%;
  
}

audio { margin:0 0 0 5px;
  border-radius: 10px;
      }
#audiowrap {
  margin:0 auto; border: 1px solid yellow;
}
