<!DOCTYPE html>
<html>
    <head>
        <title>Leooooo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <!-- jQuery  -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <!-- Boostrap -->
        <script src="../static/dist/js/bootstrap.min.js"></script>
        <!-- Head -->
        <link href="../static/leooooo.css" rel="stylesheet">
        <!-- personal JS -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script src="http://d3js.org/topojson.v1.min.js"></script>
        <script src="http://d3js.org/queue.v1.min.js"></script>
        <script src="static/rotate.js"></script>
        <script src="static/globe.js"></script>
    </head>
    <body>
        <svg height="5" width="5" xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
                <pattern id="lightstripe" patternUnits="userSpaceOnUse" width="5" height="5">
                    <image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1JyBoZWlnaHQ9JzUnPgogIDxyZWN0IHdpZHRoPSc1JyBoZWlnaHQ9JzUnIGZpbGw9J3doaXRlJy8+CiAgPHBhdGggZD0nTTAgNUw1IDBaTTYgNEw0IDZaTS0xIDFMMSAtMVonIHN0cm9rZT0nIzg4OCcgc3Ryb2tlLXdpZHRoPScxJy8+Cjwvc3ZnPg==" x="0" y="0" width="5" height="5">
                    </image>
                </pattern>
            </defs>
        </svg>
        <svg height="47" width="94" xmlns="http://www.w3.org/2000/svg"
        version="1.1"> <defs> <pattern id="wave"
        patternUnits="userSpaceOnUse" width="30"
        height="15"> <image xlink:href="static/dessin.svg" x="0" y="0"
                            width="30" height="15"> </image> </pattern> </defs> </svg>

        <div id="mainB">
          <div id="fond-map-monde">
          </div>
          <div id="reflect">
            <img src="static/reflect.png"></img>
          </div>
        </div>
        <div class="over">
            <div class="dial">
                <div class="grad">
                </div>
            </div>
            <div class="container">
                <div id="buttons" >
                    <div data-toggle="buttons" class="switch">
                        <label class="btn-red btn  btn-circle btn-lg active"><input type="checkbox" name="musicType" value="SLOW" checked="checked"/></label>
                        <label class="btn-red btn btn-circle btn-lg">       <input type="checkbox" name="musicType" value="FAST"/></label>
                        <label class="btn btn-red btn-circle btn-lg">       <input type="checkbox" name="musicType" value="WEIRD"/></label>
                    </div>
                </div>
                <div class="nav">
                    <ul id="image">
                        <li class="image">
                        </li>
                        <li class="image"></li>
                        <li class="image">
                       </li><li class="image">
                        </li><li class="image">
                        </li><li class="image">
                        </li><li class="image">
                        </li><li class="image">
                        </li><li class="image">
                        </li><li class="image">
                        </li><li class="image">
                        </li>
                    </ul>
                    <ul id="nav">
                        {% for i in range(0, 12) %}
                        
                        <li id="{{i}}" class="active">
                            <input id="{{1900 + i*10}}" value="{{1900 + i*10}}" name="date" type="radio" checked="checked">
                            {% if i == 11 %}
	                    <label for="{{1900 + i*10}}">Now</label>
                            {% else %}
                            <label for="{{1900 + i*10}}">{{1900 + i*10}}</label>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <select id="select-country" type="text">
                    </select>
                </div>
            </div>
            <div class="under">
        <figure id="player">
          <audio id='oggSource'
            controls
            src="/media/examples/t-rex-roar.mp3">
            Your browser does not support the
            <code>audio</code> element.
          </audio>
          <figcaption>Listen to the T-Rex:</figcaption>
        </figure>
            </div>
                        </div>
    </body>
</html>

